motor
aiohttp
requests
python-telegram-bot==20.6
pymongo 
pyrate-limiter==3.1.0
apscheduler==3.6.3
pyrogram
tgcrypto 
python-dotenv
cachetools 
opencv-python-headless==4.9.0.80
telethon==1.33.1
aiofiles
apscheduler
bard
aiohttp==3.9.3
asyncio==3.4.3
beautifulsoup4
blackpink
deepai
pytube
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
motor==3.3.2
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
search_engine_parser
pykeyboard
pyshorteners
#git+https://github.com/KurimuzonAkuma/pyrogram@dev
pyrogram==2.0.106
python-dotenv
phonenumbers
pyyaml==6.0.1
requests
telegraph==2.2.0
unidecode
git+https://github.com/joetats/youtube_search@master
git+https://github.com/alexmercerind/youtube-search-python@main
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.4.7
httpx==0.25.2
